ion-toolbar{
  --color:white;
  --background: #006494;
}

ion-content{
  font-family: 'Gill Sans', sans-serif;
  margin-left: 20px;
  margin-top: 20px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: translucent;
}

ion-title{
  text-align: center;
  position: absolute;
  top: 15px;
  left: calc(50% - 70px);
}

.wait-text{
  color: #aaa;
  font-size: 18px;
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}