ion-toolbar{
  --color:white;
  --background:rgb(9, 12, 54);
}

ion-content{
  text-align: center;
}

ion-title{
  text-align: center;
  position: absolute;
  top: 15px;
  left: calc(50% - 70px);
}

.send-btn{
  max-width: 150px;
  margin: auto;
  height: 45px;
  width: 150px;
  margin-top: 10px;
  font-size: 18px;
  position:absolute; /*it can be fixed too*/
  left: calc(50% - 75px);
  bottom: 50px;
  --background: rgb(153, 204, 228);
  --color: rgb(15, 34, 88);
} 

h1{
  font-size: 18px;
  font-weight: 600;
  font-family: "Gill Sans", sans-serif;
  margin-top: 20px;
  margin: 15px;
  margin-bottom: 20px;
}

.logo{
  margin-top: 50px;
  width:50px;
}

p{
  margin-bottom:30px;
}

ion-input{
  margin-top:10px;
  border-bottom: solid 1px rgb(15, 34, 88);
}