<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="debate/questions"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Statistique de la question {{questionManager.getSavedQuestion().title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <ion-refresher slot="fixed" (ionRefresh)="getStats()">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-refresher slot="fixed" (ionRefresh)="generateBarChart()">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-refresher slot="fixed" (ionRefresh)="generateDoughnutChart()">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list *ngIf="statResponses.length > 0">
      <ion-item>
        <ion-label>
          Nombre de choix possible : {{statResponses[0]}}
        </ion-label>
        <ion-icon name="assets/help-outline.svg"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>
          Intêret de l'audience : {{statResponses[1]}} %
        </ion-label>
        <ion-icon name="assets/people-circle-outline.svg"></ion-icon>
      </ion-item>
    </ion-list>
    <strong *ngIf="statResponses.length != 3" class="wait-text">Pas de statistique à afficher pour le moment</strong>
  </div>

  <div id="chart1" style="float:left; margin: 10px;">
    <ion-list *ngIf="statResponses.length > 0">
      <ion-refresher slot="fixed" (ionRefresh)="getStats()">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <ion-refresher slot="fixed" (ionRefresh)="generateBarChart()">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <ion-refresher slot="fixed" (ionRefresh)="generateDoughnutChart()">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <ion-card style="position: relative; height: 40vh; width:45vw">
        <ion-card-header>
          Nombre de réponses par choix
        </ion-card-header>
        <ion-card-content>
          <canvas #barCanvas style="position: relative; height: 25vh; width: 35vw;"></canvas>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>

  <div id="chart2" style="float:left; margin: 10px;">
    <ion-list *ngIf="statResponses.length > 0">
      <ion-refresher slot="fixed" (ionRefresh)="getStats()">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <ion-refresher slot="fixed" (ionRefresh)="generateDoughnutChart()">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <ion-card style="position: relative; height: 40vh; width:45vw">
        <ion-card-header>
          Pourcentage des choix
        </ion-card-header>
        <ion-card-content>
          <canvas #doughnutCanvas style="position: relative; height: 25vh; width: 35vw"></canvas>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>

</ion-content>