ion-content {
    --background:white;
    text-align: center;
    --color:rgb(15, 34, 88);
    margin-top: 10px;
}
ion-toolbar{
    --color:white;
    --background:rgb(9, 12, 54);
  
  }
  ion-menu-button{
    --color: white;
  }
  ion-card{
    --background:rgb(153, 204, 228);
    --color:  rgb(24, 29, 68);
 
  }
.container{
    margin-top: 20px;

}
.first{
    text-align: center;
    margin-top: 20px;
    margin:10px;
    margin-bottom: 50px;
}

.logo1{
    margin-top: 30px;

}
h1{
    margin-top: 35px;
    margin-bottom: 30px;
    font-size:20px;
}
p{
    font-size: 15px;
    text-align: center;
    margin:15px;
    
}

@media only screen and (min-width: 800px) {
    ion-card{
        margin-left: 30px;
        margin-right:30px;
    }
  }
  
  @media only screen and (min-width: 1000px) {
  
    ion-card{
         margin-left: 80px;
        margin-right:80px;
    }
  }
  
  @media only screen and (min-width: 1400px) {
  
    ion-card{
        margin-left: 120px;
        margin-right:120px;
    }
  }