ion-content{
  --color:  rgb(24, 29, 68);
  text-align: center;
  font-weight: 400;
  width:100%;
  height: 100%;
}

ion-menu-button{
  --color:white;
}

ion-toolbar{
  --color:white;
  --background: #006494;
}

ion-title{
  text-align: center;
  position: absolute;
  top: 15px;
  left: calc(50% - 40px);
}

ion-card{
  --background: rgb(153, 204, 228);
  --color:  rgb(24, 29, 68);
}

.container{
  margin-top: 20px;
}

.first{
  text-align: center;
  margin-top: 20px;
  margin:10px;
  margin-bottom: 50px;
}

.logo1{
  height: 40%;
  width: 80%;
  max-width: 950px;
  margin-left: 5%;
  margin-right: 5%;
}

h1{
  margin-top: 35px;
  margin-bottom: 30px;
  font-size:20px;
}

p{
  font-size: 15px;
  text-align: center;
  margin:15px;
    
}

@media only screen and (min-width: 800px) {
  ion-card{
      margin-left: 30px;
      margin-right:30px;
  }
}

@media only screen and (min-width: 1000px) {
  ion-card{
    margin-left: 80px;
    margin-right:80px;
  }
}

@media only screen and (min-width: 1400px) {
  ion-card{
    margin-left: 120px;
    margin-right:120px;
  }
}

  



  
