
<ion-content> 
    <div class="animation-area">
        <ul class = "box-area">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
            <div class="center-content">
       
                    <div class="head">
                        <img src="assets/icon/LogoBlanc.png" alt = "Logo" class = "logo">
                        <p>Outil de sondage <br> instantané</p>
                        <img src="assets/icon/Dessin 3.png" alt = "Dessin 3" class = "logo2">
                        <br>
                        <img src="assets/icon/Rond2.png" alt = "Dessin 2" class = "logo2">
                        <img src="assets/icon/Rond1.png" alt = "Dessin 1" class = "logo2">
                        <div class="buttons">
                            <a href="login" class="b1"> Se connecter</a>
                        </div>
                    </div>
                   
            </div>
           
        
 
    

</ion-content>
