ion-content{
  --color:rgb(24, 29, 68);
  text-align: center;
  font-weight: 400;
}

ion-menu-button{
  --color:white;
}

ion-title{
  text-align: center;
  position: absolute;
  top: 15px;
  left: calc(50% - 85px);
}

ion-toolbar{
  --color:white;
  --background: #006494;;
}

ion-card{
  --background: rgb(153, 204, 228);
  --color:  rgb(24, 29, 68); 
}

ion-item{
  --padding-top:15px;
  --padding-bottom:15px;
}

ion-label{
  font-family: cursive;
  font-size: 20px;
  font-weight: 300;
}

.rond{
  color:rgb(9, 12, 54);
  margin-left: 9%!important;
  margin-right: 10px!important;
}

.head{
  font-family: "Gill Sans", sans-serif;
  font-size: 20px;
}

.center-content{
  margin-top: 5%;
  width: 100%;
}

.first{
  margin-top: 10px;
  p{
    margin-left: 40px;
    margin-right: 40px;
  }
}

.logo1{
  margin-top: 0px;
  margin: 15px;
}

.logo2{
  height: 40%;
  width: 80%;
  max-width: 950px;
  margin-left: 5%;
  margin-right: 5%;
}

.second{
  margin-top: 25px;
  font-size: 16px;
  font-family: "Gill Sans", sans-serif;
}

.wait-text{
  color: rgb(24, 29, 68);
}


 


@media only screen and (min-width: 1000px) {
  ion-content {  
    text-align: center;
    font-weight: 400;
    height: 100%;
    width: 100%;
  }
}

@media only screen and (min-width: 1400px) {
  ion-card{
    margin-left: 120px;
    margin-right:120px;
  }
}





