ion-toolbar{
  --color:white;
  --background: #006494;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

ion-content{
  font-family: 'Gill Sans',  sans-serif;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: translucent;
}

ion-title{
  text-align: center;
  position: absolute;
  top: 15px;
  left: calc(50% - 70px);
}

.vote-btn{
  margin: auto;
  height: 60px;
  width: 100%;
  font-size: 18px;
  position:absolute; /*it can be fixed too*/
  bottom: 0;
  --border-radius: 0px;
}

#container .question-title{
  text-align: center;
  font-size: 18px;
  color: black;
  margin: 10px;
  margin-top: 30px;
}

#container .question-text{
  margin: 20px auto;
  color: #3e3e3e;
  max-width: 600px;
  padding: 10px;
}

#container .answers{
  margin-bottom: 60px;
  margin-left: 10px;
  margin-right: 10px;
}

#container .answer{
  background-color: #f9f9f9;;
  max-width: 600px;
  margin: 10px auto;
  padding: 10px 20px;
  position: relative;
}

#container .answer:hover{
  cursor: pointer;
}

#container .answer-select{
  width: 10px;
  background: #cacaca;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0;
}

#container .answer.selected .answer-select{
  background: #3ab900;
}

#container .answer.selected .answer-contain > p{
  color: #373737;
}
