<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Suggestions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="description">
    <h1>Discutez, questionez, et rendez vos débats plus interactifs avec NiceSurvey</h1>
    <p> Les personnes qui assiste aux débats ont elles aussi des questions à poser. 
      Vous pouvez visionner leurs suggestions ici. </p>
  </div>
  
  <div id="container">
    <ion-list *ngIf="availableSuggestions.length > 0">
      <ion-item *ngFor="let suggestion of getAvailableSuggestions()" class="question-item">
        <ion-label>{{suggestion.suggestion}}</ion-label>
        <ion-button float-right disabled="">
          <ion-label>{{suggestion.votes}}</ion-label>
          <ion-icon name="arrow-up-circle"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
    <strong *ngIf="availableSuggestions.length == 0" class="wait-text">
      <img src="assets/icon/debat.png" class= "logo">
      <p>En attente de suggestions </p>
    </strong>
  </div>
</ion-content>