    ion-content {
       --color: #ffffff;
       --background: #006494; 
       text-align: left; 
   }
    .no-scroll{
      --overflow: hidden;
    }

   .head{
       position: absolute;
       text-align: center;
       top: 20%;
       width: 100%;
       font-family: "Gill Sans", sans-serif;
       font-weight: lighter;
       font-size: 40px;
   }

   .logo{
       margin:0px;
   }
   
   .head .text{
       
       position: relative;
       text-align: center;
       top: 120%;
       margin-top: 10px;
       margin-left: 25%;
       margin-right: 25%;
       font-family: "Gill Sans", sans-serif;
       font-weight: lighter;
       font-size: 15px;
   }

   .buttons{
       margin-top: 10px;
   }
   
   .buttons a.b1{
       text-decoration: none;
       margin-top: 100px;
       margin-right: 15px;
       padding: 10px;
       padding-left: 30px;
       padding-right: 30px;
       font-size: 18px;
       background-color: white;
       font-weight: 600;
       color: #0E0E52;
       border: solid #68bdc9;
       cursor: pointer;
   }
    
    .buttons a.b1:hover {
      text-decoration: none;
      padding: 10px;
      padding-left: 30px;
      padding-right: 30px;
      font-size: 18px;
      background-color: #68bdc9;
      color: white;
      cursor: pointer;
    }
   
    .buttons a.b2{
      text-decoration: none;
      margin-top: 100px;
      margin-left: 15px;
      padding: 10px;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 18px;
      font-weight: 600;
      color: white;
      background-color: #0E0E52;
      border: solid rgb(21, 85, 128);
      cursor: pointer;
    }
     
    .buttons a.b2:hover {
      text-decoration: none;
      margin-top: 100px;
      margin-left: 15px;
      padding: 10px;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 18px;
      font-weight: 600;
      background-color: #68bdc9;
      color: white;
      cursor: pointer;
      border: solid  #68bdc9;
    }
   
    .animation-area {
      width: 100%;
      height: 100vh;
    }
    
    .box-area {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      overflow: hidden;
    }
    
    .box-area li {
      position: absolute;
      display: block;
      list-style: none;
      width: 25px;
      height: 25px;
      background: rgba(255,255,255,0.5);
      animation: animate 20s linear infinite;
      bottom: -150px;
    }
     
    .box-area li:nth-child(1) {
      left: 86%;
      width: 80px;
      height: 80px;
      border-radius: 80px;
      animation-delay: 0s;
    }
    
    .box-area li:nth-child(2) {
      left: 12%;
      width: 30px;
      height: 30px;
      border-radius: 50px;
      animation-delay: 1.5s;
      animation-duration: 10s;
    }
    
    .box-area li:nth-child(3) {
      left: 70%;
      width: 100px;
      height: 100px;
      border-radius: 50px;
      animation-delay: 5.5s;
    }
    
    .box-area li:nth-child(4) {
      left: 70%;
      width: 150px;
      height: 150px;
      border-radius: 150px;
      animation-delay: 0s;
      animation-duration: 15s;
    }
    
    .box-area li:nth-child(5) {
      left: 65%;
      width: 40px;
      height: 40px;
      border-radius: 50px;
      animation-delay: 0s;
    }
    
    .box-area li:nth-child(6) {
      left: 15%;
      width: 110px;
      height: 110px;
      border-radius: 110px;
      animation-delay: 3.5s;
    }
    
    .box-area li:nth-child(7) {
      left: 40%;
      width: 60px;
      height: 60px;
      border-radius: 50px;
      animation-delay: 6.5s;
      animation-duration: 20s;
    
    }
    
    @keyframes animate{
      0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
      }
      100%{
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
      }
    }
    
    
