
<ion-content class="no-scroll">
  <div class="animation-area">
    <ul class = "box-area">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>

  <br><br>
    <div class="head">
      <div class="head2">
        <img src="assets/icon/Dessin 3.png" alt = "Logo" class = "logo"> <br>
        <img src="assets/icon/LogoBlanc.png" alt = "Logo" class = "logo">
      </div>
      <div class="text">
          <p>Etes-vous administrateur ou auditeur ?</p>
        </div>	
      <div class="buttons">
        <a (click)="this.router.navigate(['admin-login'])" class="b1"> Admin</a>
        <a (click)="this.router.navigate(['login'])" class="b2"> Auditeur</a>
      </div>
    </div>	

</ion-content>
