ion-content{
  --color:  rgb(24, 29, 68);
  text-align: center;
  font-weight: 400;
  width:100%;
  height: 100%;
}

ion-menu-button{
  --color:white;
}

ion-toolbar{
  --color:white;
  --background: #006494;
}

ion-title{
  text-align: center;
  position: absolute;
  top: 15px;
  left: calc(50% - 75px);
}

ion-card{
  --background: rgb(153, 204, 228);
  --color:  rgb(24, 29, 68);
}

.head{
  font-family: "Gill Sans", sans-serif;
  font-size: 20px;
}

.center-content{
  margin-top: 5%;
  width: 100%;
}

.first{
  margin-top: 10px;
  p{
    margin-left: 40px;
    margin-right: 40px;
  }
}

.logo1{
  margin-top: 0px;
  margin: 15px;

}

.logo2{
  height: 40%;
  width: 80%;
  max-width: 950px;
  margin-left: 5%;
  margin-right: 5%;
}

.second{
  margin-top: 25px;
  font-size: 16px;
  font-family: "Gill Sans", sans-serif;
}
	
.wait-text{
  color: rgb(24, 29, 68);
}
 


@media only screen and (min-width: 1000px) {
  ion-content {  
    text-align: center;
    font-weight: 400;
    height: 100%;
    width: 100%;
    --color: black;
  }
}

@media only screen and (min-width: 1400px) {
  ion-card{
    margin-left: 120px;
    margin-right:120px;
  }
}





