ion-content{
  --color:  rgb(24, 29, 68);
  text-align: center;
  font-weight: 400;
}

ion-toolbar{
  --color:white;
  --background:rgb(9, 12, 54);
}

ion-card{
  --background: rgb(153, 204, 228);
  --color:  rgb(24, 29, 68);
}

.head{
  font-family: cursive;
  font-size: 20px;
}

.center-content{
  margin-top: 5%;
  width: 100%;
}

.first{
  margin-top: 0px;
  p{
    margin-left: 40px;
    margin-right: 40px;
  }
}

.logo1{
  margin-top: 0px;
  margin: 15px;

}

.logo2{
  margin-top: 0px;
  margin: 15px;
  width:60%;
}

.second{
  margin-top: 25px;
  font-size: 16px;
  font-family: cursive;
}
	
.wait-text{
  color: rgb(24, 29, 68);
  animation: Test 2.5s infinite;
}

@keyframes Test{
   0%{opacity: 1;}
   50%{opacity: 0;}
   100%{opacity: 1;}
}
 

@media only screen and (min-width: 500px) {
  .logo2{
    margin-top: 0px;
    margin: 15px;
    width:300px;
  }
}

@media only screen and (min-width: 1000px) {
  ion-content {  
    text-align: center;
    font-weight: 400;
    height: 100vh;
    width: 72vw;
  }
}

@media only screen and (min-width: 1400px) {
  ion-card{
    margin-left: 120px;
    margin-right:120px;
  }
}





