<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="Light"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Questions
    </ion-title>
    <ion-buttons slot="end" >
      <ion-button autoHide="false" color="Lignt" (click)="disconnect()">
        <ion-icon name="power-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="first">
      <p class="other">Préparez-vous à réagir au débat et à poser vos propres questions en direct</p>
  </div>

  <div id="container" class="second">
    <strong *ngIf="availableQuestions.length == 0" class="wait-text">
      <p>En attente de questions</p>
      <img src="assets/icon/question.jpg" alt = "Dessin 1" class = "logo2">
    </strong>
    <ion-list *ngIf="availableQuestions.length > 0" class="wait-text">
      <ion-item *ngFor="let question of availableQuestions"  class="question-item" (click)="viewQuestion(question)">
        <ion-label>{{question.title}}</ion-label>
      </ion-item>
    </ion-list>
    
  </div>

</ion-content>
