<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Débats
    </ion-title>
    <ion-buttons slot="end" >
      <ion-button autoHide="false" color="Lignt" (click)="disconnect()">
        <ion-icon name="power-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="description">
    <h1>Discutez, questionez, et rendez vos débats plus interactifs avec NiceSurvey</h1>
    <p> Créez vos débats rapidement avec l'application et intéragissez avec votre audience. 
      Vous pouvez créer plusieurs débats et visionner leurs statistiques. </p>
  </div>
  <div id="container">
    <ion-list *ngIf="activeDebates.length > 0">
      <ion-item *ngFor="let debate of activeDebates" class="debate-item" (click)="viewDebate(debate)">
        <ion-icon name="podium-outline" class="rond"></ion-icon>
        <ion-label>{{debate.title}}</ion-label>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="pastDebates.length > 0">
      <ion-item *ngFor="let debate of pastDebates" class="debate-item" (click)="viewDebate(debate)">
        <ion-icon name="podium-outline"class="rond"></ion-icon>
        <ion-label>{{debate.title}}</ion-label>
      </ion-item>
    </ion-list>
    <strong *ngIf="activeDebates.length == 0 && pastDebates.length == 0" class="wait-text">
      <img src="assets/icon/debat.png" class= "logo">
      <p> Créez un nouveau débat en appuyant sur le bouton (+)</p>
    </strong>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="newDebate()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
