

<ion-content text-center >
  <div class="animation-area">
    <ul class = "box-area">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>

 
  
  <div class="head">
    <ion-button color="Lignt" href="admin-begin">
      <ion-icon name="power-outline"></ion-icon>
    </ion-button>
    <div class="head2">
      <img src="assets/icon/Dessin 3.png" alt = "Logo" class = "logo"> <br>
      <img src="assets/icon/LogoBlanc.png" alt = "Logo" class = "logo">
      <p class ="title"> Outil de sondage <br>instantané</p>
      <p class="description"> Gérez vos événements grâce à l'outil de sondage instantané NiceSurvey!
        Lors de présentations, débats ou conférence, l'application vous permet de 
        recueillir les réactions de votre auditioire et de rendre vos présentations
        plus interactives.</p>
    </div>

 
    <fieldset class="text">

    
    <p class="welcome-text">Bienvenue! Connectez-vous à votre compte.</p>
  
    <ion-item>
      <ion-input placeholder="Username" [(ngModel)]="username"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input placeholder="Password" type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-button expand="block" class="login-btn" (click)="login()">Se connecter</ion-button>

  </fieldset>

  </div>
  
  
  
</ion-content>